body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #996f6f;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #4f5bf8;
}

.header {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.contact {
    font-weight: bold;
}

.section-header {
    font-weight: bold;
    font-size: 18px;
}
